<h1> Hi there, <%=userName%> </h1> 

<h1>
    Hunter's Super Duper Page
</h1>

<h2> all y'alls links enneagrams go here </h2>

<p> 
Hunter
Enneagram number = 9. 
on g/h @hunter-mcgriff
this repo = ... dev-lab-november
</p>

<!-- TODO: create issue, all update this page -->


<form method="post" action="/saveToNode">
    <label>do that data!</label>
    <input type="text" name="userName">
    <input type="submit" value="send to node via express">
</form>